#notes-browser{
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #F8F8F8;
    min-width: 300px;
    max-width: 300px;
    overflow-y: scroll;
    border-right: 1px solid #E6E6E6;
}
#notes-browser .selected{
    background-color: white;
    border-right: 3px solid #00a82d;
}
#notes-browser h2{
    margin-bottom: 0;
}
#notes-browser-title{
    border-bottom: 1px solid #E6E6E6;
    padding-left: 15px;
}
.note-card h4 {
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: 15px;
    color: #737373;
}
.note-card h3 {
    margin: 0;
    color:black;
     max-height: 35px;
     overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-card h5 {
    margin: 0;
    font-style: italic;
    color: black;
}
#notes-browser a:hover{
    background-color: white;
    cursor: pointer;
}
.note-card{
    padding: 15px;
    min-height: 120px;
    max-height: 120px;
}

main {
    display: flex;
}
