.home-page-content{
    margin-left: 240px;
    display: flex;
    flex:1;
    background-color: #F2F2F2;
    height: 100vh;
}
#home-photo-div{
    flex:1;
    z-index: 0;
}
#home-photo-div img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#home-page-info{
    position: absolute;
    text-shadow: 0px 0px 3px #000000;
    color:white;
    z-index: 1;
}
#home-page-info h2{
    margin: 15px 0px 0px 30px;
    font-size: 20px;
}
#home-page-notes{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    width: 650px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    border: transparent;
    z-index: 0;
    position: absolute;
    margin: 250px 0px 0px 50px;
    flex:1;
    display: flex;
    flex-direction: column;
}
#note-home-info{
    width: 100%;
    height: fit-content;
    grid-area: note-home-info;
    margin-top: 10px;
    border-bottom: 2px solid #727272;
}
#note-home-info span{
    font-size: 25px;
    padding: 30px;
}
#recent-notes{
    display: flex;
    margin-top: 10px;
    height: 300px;
    overflow-y: scroll;
}
#note-card{
    width: 25%;
    display: flex;
    max-height: 80%;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    padding: 5px;
    margin: 10px;
}
#note-card h2{
    font-size: 16px;
    max-height: 50px;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}
#note-card h3{
    font-size: 12px;
    color: #737373;
    overflow:hidden;
    max-height: 100px;
}
#note-card:hover{
    cursor: pointer;
}
