.note-detail {
    display: grid;
    width: 100%;
    grid-template-columns: 0.1fr auto;
    grid-template-rows: 90px 55px 6fr;
    grid-template-areas:
    ". note-buttons "
    ". note-title"
    ". note-content";
}
#main-note-content{
     width: 100%;
    display: flex;
    justify-content: center;
}
#note-form-title{
    grid-area: note-title;
    border-top: 1px solid #E6E6E6;
}
#note-form-content{
    grid-area: note-content;
}
.note-detail input {
    border:none;
    width: 100%;
    outline: none;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}
#note-form-content > textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
    min-height:70vh;
}
#note-form-buttons{
grid-area: note-buttons;
display: flex;
justify-content: flex-end;
}
#save-note-button{
    background-color: #00a82d;
    border: transparent;
    color: white;
    font-size: 13px;
    border-radius: 3px;
    height: 35px;
    padding: 10px 10px 10px 10px;
}
#delete-note-button{
    background-color: rgb(189, 50, 50);
    border: transparent;
    color: white;
    font-size: 13px;
    border-radius: 3px;
    height: 35px;
    padding: 10px 10px 10px 10px;
}
#save-note-button-div{
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}
#delete-note-button-div{
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}
 #save-note-button:hover{
     cursor: pointer;
    background-color: #0BC13C;
 }
 #delete-note-button:hover{
     cursor: pointer;
    background-color: red;
 }
