.note-detail {
    display: grid;
    width: 100%;
    grid-template-columns: 0.1fr auto;
    grid-template-rows: 90px 55px 6fr;
    grid-template-areas:
    ". note-buttons "
    ". note-title"
    ". note-content";
}
#main-note-content{
     width: 100%;
    display: flex;
    justify-content: center;
}
#note-form-title{
    grid-area: note-title;
    border-top: 1px solid #E6E6E6;
}
#note-form-content{
    grid-area: note-content;
}
.note-detail input {
    border:none;
    width: 100%;
    outline: none;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}
#note-form-content > textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
    min-height:70vh;
}
#note-form-buttons{
grid-area: note-buttons;
display: flex;
justify-content: flex-end;
}
